@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 15px;
}

a {
  color: #FFFFFF;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #8E8B8B;
}

.big-container {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  margin: 0 auto;
  max-width: 1403px;
}

.header {
  background-color: #FBFBFB;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__inner {
  display: flex;
  position: relative;
}

.nav {
  min-width: 219px;
  background-color: #070A23;
  padding: 60px 80px 57px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav .nav__list-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.nav .phone {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav .phone-link {
  display: flex;
  align-items: baseline;
}

.img__header {
  height: 100%;
  min-width: 447px;
}

.header__info {
  display: flex;
  flex-direction: column;
  background-color: #FBFBFB;
  padding: 60px 124px 37px 80px;
  position: relative;
}
.header__info .info__data {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 12px;
  margin-bottom: 147px;
}
.header__info .info__data .info__data-item {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.header__info .info__data .info__data-item .data {
  color: #959292;
  font-weight: 300;
}
.header__info .info__data .info__data-item .name {
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.65px;
  transition: color 0.2s ease-in;
}
.header__info .info__data .info__data-item .name:hover {
  color: #8E8B8B;
}

.info__title {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 3.6px;
  color: #0E0D30;
}

.text__container {
  max-width: 410px;
  margin: 34px 56px 135px 190px;
}
.text__container .info__text {
  letter-spacing: 0.3px;
  color: #0E0D30;
  margin-bottom: 34px;
  position: relative;
}
.text__container .info__text::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 1px;
  background: #0E0D30;
  top: 12px;
  left: -54px;
}
.text__container .info__btn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3px;
  background-color: #0318DB;
  padding: 16px 30px 15px;
  color: #FBFBFB;
  transition: color 0.2s ease-in;
}
.text__container .info__btn:hover {
  background-color: rgba(3, 25, 219, 0.8392156863);
}

.info__bottom {
  display: flex;
  align-items: baseline;
  position: relative;
}
.info__bottom .info__bottom-text {
  text-align: center;
  font-size: 101px;
  font-weight: 700;
  letter-spacing: 14.16px;
  color: #0E0D30;
  opacity: 0.03;
  position: absolute;
  top: -93px;
  left: 180px;
}

.btn__box {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #8E8B8B;
  min-width: 107px;
}
.btn__box .btn__bottom {
  padding: 0 1.5px;
}

.info__social-inner {
  max-width: 583px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  right: -107px;
}
.info__social-inner::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 1px;
  background: #0E0D30;
  top: 50%;
  left: 20%;
}
.info__social-inner::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 1px;
  background: #0E0D30;
  top: 50%;
  left: 65%;
}

.link__social {
  color: #B6B5B5;
  opacity: 0.5;
  letter-spacing: 0.75px;
}
.link__social:hover {
  opacity: 1;
}

.title-sec {
  color: #111111;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 4.05px;
  margin-top: 87px;
  text-transform: uppercase;
}

.info__inner {
  display: flex;
  padding: 25px 0 90px;
}

.sub-title {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}

.stat-title {
  margin-left: 30px;
}

.text {
  max-width: 685px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.9px;
}

.item-box {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 29px;
  margin-left: 30px;
  margin-right: 91px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
}

.num {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: 4px solid #000000;
  border-radius: 10px;
  padding: 3px 0 3px 26px;
}

.advan {
  background-image: url(./../img/bg-advan.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.advan__inner {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.title-advan {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 50px;
}

.advan__item {
  display: flex;
  justify-content: space-between;
}
.advan__item .card {
  padding: 20px 59px 48px;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  max-width: 319px;
}
.advan__item .card .title-card {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2.25px;
}

.filter__inner {
  display: flex;
}

.form__filter {
  padding: 90px 98px 92px;
}
.form__filter .form__title {
  margin-top: 0px;
  margin-bottom: 30px;
}
.form__filter .sub-title__form {
  margin-bottom: 25px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.84px;
}
.form__filter .buttton__box {
  margin-bottom: 40px;
  display: flex;
  gap: 31px;
}
.form__filter .buttton__box .btn__form {
  font-weight: 300;
  padding: 3px 22.3px 4px;
  border: 1px solid #514F4F;
}
.form__filter .buttton__box .not__active {
  color: #9F9E9E;
}
.form__filter .input__item {
  margin-bottom: 40px;
}
.form__filter .input__item .title-input {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.84px;
}
.form__filter .reset__btn {
  color: #858181;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.84px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(179, 176, 176);
}
.form__filter .input__range {
  -webkit-appearance: none;
  background-color: #000000;
  height: 1px;
  width: 100%;
}
.form__filter .input__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000000;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  cursor: pointer;
}

.content {
  background-image: url(./../img/bg-enter.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.content .content__wrapper {
  display: flex;
  align-items: center;
  padding: 9px 15.5px 21px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.content .content__wrapper .enter__titel {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-bottom: 8px;
}
.content .content__wrapper .enter__text {
  font-weight: 300;
  letter-spacing: 1.95px;
  margin-right: 27.2px;
  position: relative;
}
.content .content__wrapper .enter__text::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background: #737272;
  top: -100%;
  left: 105%;
}

.footer {
  background-color: #333131;
}

.footer__wrapper {
  padding: 124px 0 123px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__log {
  display: flex;
  gap: 51px;
}
.footer__log .text__footer {
  font-size: 12px;
  font-weight: 300;
  color: #FFFFFF;
}

.list__fotter {
  display: flex;
  gap: 33px;
}

.phone {
  display: flex;
  gap: 10px;
}
.phone .phone-link {
  display: flex;
  align-items: baseline;
}

.btn_phone {
  padding: 10px 33px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
}/*# sourceMappingURL=main.css.map */