@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 15px;
}

a {
  color: #FFFFFF;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #8E8B8B;
}

.big-container {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
}

.header {
  background-color: #FBFBFB;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__inner {
  display: flex;
}

.nav {
  min-width: 219px;
  background-color: #070A23;
  padding: 60px 80px 57px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav .nav__list-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.nav .phone {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav .phone-link {
  display: flex;
  align-items: baseline;
}

.img__header {
  height: 100%;
  min-width: 447px;
}

.header__info {
  display: flex;
  flex-direction: column;
  background-color: #FBFBFB;
  padding: 60px 66px 37px 80px;
  position: relative;
}
.header__info .info__data {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 147px;
  margin-right: 22px;
}
.header__info .info__data .info__data-item {
  display: flex;
  align-items: baseline;
  gap: 15px;
}
.header__info .info__data .info__data-item .data {
  color: #959292;
  font-weight: 300;
}
.header__info .info__data .info__data-item .name {
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.65px;
  transition: color 0.2s ease-in;
}
.header__info .info__data .info__data-item .name:hover {
  color: #8E8B8B;
}

.info__title {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 3.6px;
  color: #0E0D30;
}

.text__container {
  max-width: 410px;
  margin: 34px 56px 135px 190px;
}
.text__container .info__text {
  letter-spacing: 0.3px;
  color: #0E0D30;
  margin-bottom: 34px;
  position: relative;
}
.text__container .info__text::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 1px;
  background: #0E0D30;
  top: 12px;
  left: -54px;
}
.text__container .info__btn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3px;
  background-color: #0318DB;
  padding: 16px 30px 15px;
  color: #FBFBFB;
  transition: color 0.3s ease-in;
}
.text__container .info__btn:hover {
  background-color: rgba(3, 25, 219, 0.8392156863);
}

.info__bottom {
  display: flex;
  align-items: baseline;
  position: relative;
}
.info__bottom .info__bottom-text {
  text-align: center;
  font-size: 118px;
  font-weight: 700;
  letter-spacing: 14.16px;
  color: #0E0D30;
  opacity: 0.03;
  position: absolute;
  top: -93px;
  left: 180px;
}

.btn__box {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #8E8B8B;
  min-width: 107px;
}
.btn__box .btn__bottom {
  padding: 0 1.5px;
}

.info__social {
  position: relative;
}
.info__social .info__social-inner {
  max-width: 583px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  /* transform: rotate(-90deg); */
}
.info__social .info__social-inner::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 1px;
  background: #0E0D30;
  top: 50%;
  left: 20%;
}
.info__social .info__social-inner::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 1px;
  background: #0E0D30;
  top: 50%;
  left: 60%;
}
.info__social .link__social {
  color: #B6B5B5;
  opacity: 0.5;
  letter-spacing: 0.75px;
}
.info__social .link__social:hover {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */