//шрифт
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

body{
    font-family: $font-main;
    color: $black-text;
    font-size: 15px;
}
a{
    color: $white-text;
    transition: color 0.2s ease-in;
    &:hover{
        color:  #8E8B8B;
    }
}
.big-container{
    display: block;
    margin: 0 auto;
    max-width: 1600px;
};
.container{
    margin: 0 auto;
    max-width: 1403px;
}