//шрифт
$font-main: 'Oswald', sans-serif;

//цвет
$bg-color: #E5E5E5;
$bg-color-secondary: #FFFFFF;
$bg-color-nav: #070A23;
$bg-color-info: #FBFBFB;
$bg-color-btn: #0318DB;
$bg-color-footer: #333131;
$color-btn-hover: #0319dbd6;
$info-title-color: #0E0D30;
$data-color: #959292;
$title-color: #111111;
$black-text: #000000;
$white-text: #FFFFFF;
$color-border:  #514F4F;
$not-active:#9F9E9E;
$color-reset:#858181;
$enter-color:rgba(255, 255, 255, 0.40);

//flexbox mixin
@mixin flex-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin before-line{
    content: '';
    position: absolute;
    width: 38px;
    height: 1px;
    background: #0E0D30;
}
@mixin before-line-soc{
    content: '';
    position: absolute;
    width: 38px;
    height: 1px;
    background: #0E0D30;
}
@mixin title{
    color: $title-color;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 4.05px;
}
@mixin sub-title{
    color: $black-text;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

